
#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding: 50px;
    padding-top: 125px;
    top: 50px;
}

/* #sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 300px;
    height: 600px;
    height: fit-content;
    background: rgb(26, 26, 26);
    border-radius: 15px;
    padding: 15px;
    top: 125px;
    bottom: 100px;
    left: 50px;
}

#sidebar a {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar a:hover {
    color: rgb(201, 201, 201);
} */

#page {
    background: rgb(26, 26, 26);
    justify-self: right;
    position: relative;
    padding: 25px;
    width: 900px;
    height: 1200px;
    /* right: 150px; */
}

#page h1{
    font-size: 20px;
    margin: 0;
}

.card {
    border-bottom: 2px solid #505050;
    width: 60%;
    padding-bottom: 20px;
    padding: 15px;
}

.post {
    display: block;
    width: fit-content;
    width: 80%;
}

.card p {
    width: fit-content;
}

.card:first-child {
    width: 60%;
}

.card a {
    width: fit-content;
}

article .href:hover {
    /* text-decoration: underline; */
    color: #92a2ff;
    cursor: pointer;
}

.card img {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
}

.card h2 {
    width: fit-content;
}

/* #main-header #shadow {
    height: 85px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    position: relative;
} */

 
@media (max-width: 900px) {
    #sidebar {
        display: none;
    }
    #page {
        justify-self: center;
        right: 0;
        width: 100%;
    }
}