<p style="margin-bottom: 100px;">
    Lebih keren dari pada <a href="http://masmisran.com" class="href">masmisran.com</a>
</p>
<p>
    <a href="https://deltarune.com" class="href">DELTARUNE</a> © Toby Fox 2018-2026. All rights reserved.
</p>
<p>
    <a href="https://store.steampowered.com" class="href">Steam</a> and the Steam logo are trademarks and/or registered trademarks of Valve Corporation in the U.S. and/or other countries.
</p>
<p>
    "<a href="https://www.playstation.com" class="href">PlayStation</a>" and the "PS" Family logo are registered trademarks and "PS4" and "PS5" is a trademark of Sony Interactive Entertainment LLC.
</p>
<p>
    <a href="http://www.nintendo.com" class="href">Nintendo</a> Switch™ is a trademark of Nintendo.
</p>
<p id="copyright">
    @Copyright 2026
</p>