
<div id="main-header">
<!-- <div id="shadow"></div> -->
 <a class="side left" id="logo" href="http://deltarune.com">
    <img src="img/deltarune-logo.png" alt="deltarune-logo">
</a>
<ul>
    <li>
        <a class="href" href="https://gigachannel2.github.io/Definitely-Not-A-Website">Password</a>
    </li>
    <li> <a>Bio</a> </li>
    <li> <a>Social</a> </li>
    <li>
        <!-- <button>Ayam</button> -->
         <a class="href" id="ayam">Ayam</a>
    </li>
</ul>
<button class="side right" id="menu" title="Open menu" onclick="open_menu()">
    <img src="img/menu.png" alt="">
</button>
</div>
<section id="sidemenu_sect">
<div id="backshadow"></div>
<nav id="sidemenu">
    <section id="backsectmenu">
        <button id="backmenu" onclick="close_menu()"><a>X</a></button>
    </section>
    
    <section id="sidemenubuttons">
        <ul>
            <li>
                <h1 onclick="href('https://gigachannel2.github.io/Definitely-Not-A-Website')">
                    <a class="href">Password</a>
                </h1>
            </li>
            <li> 
                <h1>
                    <a>Bio</a>
                </h1>
            </li>
            <li>
                <h1>
                    <a>Social</a>
                </h1>
            </li>
            <li>
                <h1 id="ayam2">
                    <a class="href" >Ayam</a>
                </h1>
            </li>
        </ul>
    </section>
</nav>
</section>